<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.0/vis.min.css" rel="stylesheet" type="text/css" />
    <title>Metar information</title>
</head>
<body>
    <style>
        body {
          background: white;
        }

        .header {
          margin: auto;
          position: relative;
          text-align: center;
          border: 2px groove black;
          background: url(https://www.freewebheaders.com/wordpress/wp-content/gallery/planes/amazing-domestic-aircraft-take-off-header.jpg) no-repeat
        }

        #header-box {
          height: 300px;
          width: 1000px;
        }

        #input-box {
          background-color: rgba(255, 255, 255, 0.8);
        }

        .main-box {
          width: 100%;
          height: 100%;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          position: relative;
          margin: auto;
        }

        .data-output-box {
          width: 60%;
          background: AliceBlue;
          margin: auto;
          text-align: center;
        }

        .output {
          position: relative;
          text-align: center;
        }

        .table {
          text-align: center;
          width: 100%;
          height: 100%;
        }

        #metar-input-box {
          border: 2px groove black;
        }

        #airport-form {
            height: 40px !important;
            width: 400px;
            padding-right: 50px;
            font-size: 20pt;
        }

        #input {
            margin-left: -50px;
            height: 40px !important;
            width: 40px;
        }

        #button {
            margin-left: -50px;
            height: 40px;
            width: 40px;
        }

        #timeline {
            height: 200px;
            width: 1000px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: relative;
            margin: auto;

        }
        .vis-item.green {
            background-color: #0df200;
            border-color: #4cae4c;
        }

        .vis-item.yellow {
            background-color: #f2ea00;
            border-color: #FFF785;
        }

        .vis-item.red {
            background-color: #f23303;
            border-color: tomato;
        }

        .vis-timeline {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>
    <div id="header-box" class="header">
        <h1>Airport delay</h1>
        <div id="input-box">
            <br>
            <p>Введите название аэропорта, его IATA или ICAO код</p>
            <form action="." method="POST">
                <input type="text" name="airport-form" id="airport-form" placeholder="Аэропорт, IATA или ICAO код">
                <button type="submit" name="my-form"  id="input">
                    <img src="/Users/evgenijkostogorov/PycharmProjects/untitled6/img/search_icon.png" id="button">
                </button>
                <p></p>
            </form>
            <br>
        </div>
    </div>
    <div class="main-box">
        <div class="data-output-box">
            <div id="airport-box" class="output">
                <table id="airport-name" class="table">
                    <tbody>
                        <tr>
                        <td><p>{{ airport }}</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <div id="metar-box" class="output">
            <table id="metar-table" class="table">
                <tbody>
                    <tr>
                        <td><p>{{ metar }}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="taf-box" class="output">
            <table id="taf-table" class="table">
                <tbody>
                    {% if type is iterable and taf is not string %}
                        {% for response in taf %}
                            <tr>
                                <td>{{ response }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>{{ taf }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <div id="timeline"></div>
    <br>
    <div id="gauge"></div>
    <script type="text/javascript">
var metarData = '{{ metar_delay | safe }}';
var gaugeBox = document.getElementById("gauge");

function drawMetar() {
    google.charts.load('current', {'packages':['gauge']});
    google.charts.setOnLoadCallback(drawGauge);

    if (metarData != "No data") {
        function drawGauge() {
            var data = google.visualization.arrayToDataTable([
                ['Label', 'Delay'],
                ['Delay', parseInt(metarData)]]);

            var options = {
                width: 400, height: 120,
                redFrom: 60, redTo: 100,
                yellowFrom: 30, yellowTo: 60,
                minorTicks: 5,
                min: 0, max: 100,
                majorTicks: ["0", "30", "60", "100"]
            };

            var chart = new google.visualization.Gauge(gaugeBox);

            chart.draw(data, options);
        }
    }
    else {
        gaugeBox.style.visible = "visible";
    }
}

var information = JSON.parse('{{ json | safe }}');

function colorizeData(array) {
    for (i=0; i < array.length; i++) {
        if (array[i]["content"] === "0%") {
            array[i]["className"] = "green"
        }
        else if (array[i]["content"] === "50%") {
            array[i]["className"] = "yellow"
        }
        else if (array[i]["content"] === "100%") {
            array[i]["className"] = "red"
        }
    }
    return array;
}

function checkData(array) {
    if (array.length != 0) {
        return true;
    }
    else {
        return false;
    }
}

var container = document.getElementById("timeline");
var items = new vis.DataSet();
var options = {};
var timeline = new vis.Timeline(container, items, options);

function loadData() {
	if (checkData(information) === true) {
        var data = colorizeData(information);
        items.clear();
        items.add(data);
        timeline.fit();
    }
    else {
	    container.style.visibility = "hidden";
    }
}

loadData();
drawMetar();
    </script>
</body>
</html>